bin
cocos2d
lib
nbproject
proj.android-studio
proj.android
proj.ios_mac
proj.linux 
proj.tizen 
proj.win8.1-universal
proj.win10
proj.win32
.cocos-project.json
CMakeFiles
cmake_install.cmake
Makefile
compile_commands.json
CMakeCache.txt