<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>purple.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{95,95}</string>
                <key>spriteSourceSize</key>
                <string>{95,95}</string>
                <key>textureRect</key>
                <string>{{761, 153},{95,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yellow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{95,95}</string>
                <key>spriteSourceSize</key>
                <string>{95,95}</string>
                <key>textureRect</key>
                <string>{{195, 1},{95,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{95,95}</string>
                <key>spriteSourceSize</key>
                <string>{95,95}</string>
                <key>textureRect</key>
                <string>{{98, 1},{95,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{95,95}</string>
                <key>spriteSourceSize</key>
                <string>{95,95}</string>
                <key>textureRect</key>
                <string>{{1, 1},{95,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{95,95}</string>
                <key>spriteSourceSize</key>
                <string>{95,95}</string>
                <key>textureRect</key>
                <string>{{858, 153},{95,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>purple_broken.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{150, 150}</string>
                <key>spriteSourceSize</key>
                <string>{150, 150}</string>
                <key>textureRect</key>
                <string>{{305, 98},{150, 150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>green_broken.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{150, 150}</string>
                <key>spriteSourceSize</key>
                <string>{150, 150}</string>
                <key>textureRect</key>
                <string>{{1, 98},{150, 150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yellow_broken.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{150, 150}</string>
                <key>spriteSourceSize</key>
                <string>{150, 150}</string>
                <key>textureRect</key>
                <string>{{153, 98},{150, 150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>red_broken.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{150, 150}</string>
                <key>spriteSourceSize</key>
                <string>{150, 150}</string>
                <key>textureRect</key>
                <string>{{457, 98},{150, 150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blue_broken.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{150, 150}</string>
                <key>spriteSourceSize</key>
                <string>{150, 150}</string>
                <key>textureRect</key>
                <string>{{609, 98},{150, 150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
        </dict>
    </dict>
</plist>
